<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eulier Mejorado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <header>
        <h1>Resolución de Ecuaciones Diferenciales</h1>
        <p>Método: Eulier Mejorado</p>
    </header>
    <main class="container">
        <div class="flex-container">
            <div class="form-section">
                <h4>Ingrese los valores necesarios:</h4>
                <form action="/calcular" method="post" id="form-calcular">
                    <div class="form-group">
                        <label for="Ecuacion">Ecuación a resolver:</label>
                        <input type="text" name="Ecuacion" id="Ecuacion" placeholder="20xy" required>
                    </div>
                    <div class="form-group">
                        <label for="valorY">Valor de y:</label>
                        <input type="number" name="valorY" id="valorY" placeholder="y" required>
                    </div>
                    <div class="form-group">
                        <label for="valorX">Valor de x:</label>
                        <input type="number" name="valorX" id="valorX" placeholder="x" required>
                    </div>
                    <div class="form-group">
                        <label for="valorH">Valor de h:</label>
                        <input type="number" name="valorH" id="valorH" placeholder="h" required>
                    </div>
                    <button type="submit">Calcular</button>
                </form>
            </div>
            <div id="resultado">
                <h4>Resultados:</h4>
                <table>
                    <thead>
                        <tr>
                            <th>n</th>
                            <th>xn</th>
                            <th>yn</th>
                            <th>yreal</th>
                            <th>error</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-resultados">
                        <!-- Aquí se agregarán las filas dinámicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>    
</body>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</html>
