<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eulier Mejorado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <header>
        <h1>Resolución de Ecuaciones Diferenciales</h1>
        <p>Método: Eulier Mejorado</p>
    </header>
    <main class="container">
        <h4>Ingrese los valores necesarios:</h4>
        <form action="" method="post" novalidate>
            <div class="form-group">
                <label for="Ecuacion">Ecuación a resolver:</label>
                <input type="text" name="Ecuacion" id="Ecuacion" placeholder="20xy" required>
            </div>
            <div class="form-group">
                <label for="valorY">Valor de y:</label>
                <input type="text" name="valorY" id="valorY" placeholder="y" required>
            </div>
            <div class="form-group">
                <label for="valorX">Valor de x:</label>
                <input type="text" name="valorX" id="valorX" placeholder="x" required>
            </div>
            <div class="form-group">
                <label for="valorN">Valor de n:</label>
                <input type="text" name="valorN" id="valorN" placeholder="n" required>
            </div>
            <button type="submit">Calcular</button>
        </form>
    </main>
</body>
</html>
